.container
{
	height: 515px;
	width: 500px;
	margin: auto;
	background-image: url("w.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 20px;
	margin-top: 10px;
	position: relative;
}
.area
{
	position: absolute;
/*	border: 3px solid black;*/
	height: 400px;
	width: 400px;
	margin-left: 50px;
	margin-top: 54px!important;
	border-radius: 20px;
	
}
#main
{
	list-style: none;
	display: grid;
	padding: 0;
	margin: 0;
	grid-template-columns: repeat(3, auto);
	position: relative;
}
#main li ._button
{
	height: 135px;
	width: 135px;
	padding-inline-start: 0;
	border: 4px solid black;
	text-align:center;
	align-items: center;
	font-size: 40px;
	border-radius: 20px;
	box-shadow: 0 0 20px black;
	background-color: transparent;
}
.font h2
{
	font-size: 35px;
	word-spacing: 20px;
	text-align: center;
	font-family: MV Boli;
	margin: 0;
	margin-top: 50px;
}
